<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TastyBites - About Us</title>
  <link rel="stylesheet" href="/static/style.css">
  <style>
    footer {
  background-color: #8B0000;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 460px;
}
  </style>
</head>
<body>
  <header>
    <h1>TastyBites Restaurant</h1>
    <nav>
      
      <a href="menu.html">Menu</a>
      <a href="About us.html">About</a>
      <a href="Contact.html">Contact</a>
      <a href="{{ url_for('register') }}">Register</a>

    </nav>
  </header>
  <section>
    <h2>About Us</h2>
    <p>TastyBites was founded in 2015 with a simple mission — to serve mouth-watering food that makes people happy. Whether you're craving Indian, Chinese, or Continental, we've got something for every foodie.</p>
  </section>
  <footer>
    <p>&copy; 2025 TastyBites Restaurant. All rights reserved.</p>
  </footer>
</body>
</html>